<!DOCTYPE html>
<html>
<head>
	<title>Shop Now</title>
  <link rel="icon" type="image/ico" href="./images/k.jpg" />
	<% include ./header/sandstone_styles.ejs %>

  
  <link rel="stylesheet" type="text/css" href="https://listjs.com/assets/css/style.css">
</head>
<body style="padding: 20px">
	<% include ./header/nav.ejs %><br><br>
  
  <div id="users">
    <input class="search" placeholder="Search" />

    <button class="sort" data-sort="name">
      Name
    </button>

    <button class="sort" data-sort="rent">
      Rent
    </button>

    <button class="sort" data-sort="price">
      Price
    </button>
<div class="bs-docs-section">
  <div class="list row">
    <% for(var i = 0; i < products.length; i++) { %>
      <!-- <div class="col-lg-4">
      
        <img style="max-width: 200px" src="/products/<%= products[i].thumbnail[0] %>">
        <h3 class="name"><%= products[i].productName %></h3>
        <p class="price"><%= products[i].productPrice %></p>
      </div> -->
      <div class="col-lg-4">
        <div class="card mb-3">
          <h3 class="card-header name"><a class="card-link" href="/shop/product/<%= products[i]._id %>"><%= products[i].productName %></a></h3>
          <div align="center"><a class="card-link" href="/shop/product/<%= products[i]._id %>"><img style="height: 150px; max-width: 200px; display: block;" src="/products/<%= products[i].thumbnail[0] %>" alt="Card image"></a></div>
          <div class="card-body">
            <p class="card-text"><%= products[i].productDescription %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item price">Rs. <%= products[i].productPrice %></li>
            <li class="list-group-item rent">Rs. <%= products[i].productRentPrice %>/day/peice</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>
    <% } %>
    <ul class="pagination"></ul>
  </div>
    </div>
  </div>

	<% include ./footer/sandstone_scripts.ejs %>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script type="text/javascript">
    var options = {
      valueNames: [ 'name', 'price', 'rent' ]
      page: 3,
      pagination: true
    };

    var userList = new List('users', options);

  </script>
  
</body>
</html>